td {
  border: 1px solid black;
}

.convenio-main {
  margin: auto;
  width: 80%;
  padding-top: 50px;
  padding-bottom: 25px;
  }

.mat-main{
    padding: 25px;
    }

.card-header {
  background-color: #2196f3;
  }

.card {
    margin-top: 25px;
    padding: 0px;
    }

 
mat-card-title.mat-card-title{
    padding-top: 10px;
    color: #ffffff;
    } 

mat-card-actions.card-footer.mat-card-actions{
      background-color: #f5f5f5;
      margin: 0px;
      padding: 10px;
      }
      
.card-contenido {
      padding: 30px;
      background-color: #ffffff;
      }
      
.width-100 {
  width: 100%;
}

.clearfix::after {
 content: "";
 clear: both;
 display: table;
}
        
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
        
.breadcrumb {
  left: 0;
  right: 0;
  top: 63px;
  background-color: rgba(0, 150, 136, 0.8);
  color: white;
  border-radius: 0px;
  z-index: 900;
  padding: 8px 15px;
  margin-bottom: 23px;
  list-style: none;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 11.5px;
}

div.vista-principal{
  margin-top: 32px;
}

.col-xs-6 {
  width: 50%;
  
}

h3, .h3 {
  font-size: 34px;
  margin-top: 23px;
  margin-bottom: 11.5px;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: #444444;
}
